.block-our-inst {
  background-color: #f9f7f7;
  .block-our-inst__wrap {
    margin-top: 100px;
    padding-top: 100px;
    .block-our-inst__header {
      text-align: center;
    }
    .block-our-inst__block-carousel {
      margin-top: 80px;
      .inst-carousel-control {
        height: 100%;
      }
    }
  }
}
