.block-about-us {
  text-align: center;
  position: relative;
  .block-about-us__header {
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .block-about-us__body {
    background-color: @secondaryBgColor;
    margin-top: 470px;
    position: relative;
    .block-about-us__image-box {
      width: 60%; // !увеличить при уменьшении экрана
      margin: 40px auto 0 auto;
      border: 10px solid #fff;
      box-shadow: 0 0 30px 0 rgba(126, 126, 126, 0.25);

      position: absolute;
      top: -300px;
      right: 0;
      left: 0;
      // Условие для экранов с шириной от 0 до @md(991px)
      @media (max-width: @md) {
        width: 70%;
      }
      & img {
        width: 100%;
        max-width: 100%;
      }
    }
    .block-about-us__text-box {
      padding: 250px 0 20px 0;

      display: flex;
      justify-content: space-around;
      align-items: center;
      // Условие для экранов с шириной от 0 до @md(991px)
      @media (max-width: @md) {
        flex-direction: column;
      }
      .block-about-us__col {
        display: flex;
        height: 100%;
        padding: 0 50px;
      }
      .block-about-us__col_left {
        width: 45%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // Условие для экранов с шириной от 0 до @md(991px)
        @media (max-width: @md) {
          width: 80%;
        }
        .block-about-us__icon-box_size_big {
          width: 200px;
          margin-bottom: 30px;
          & img {
            width: 100%;
            max-width: 100%;
          }
        }
      }
      .block-about-us__col_right {
        width: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        // Условие для экранов с шириной от 0 до @md(991px)
        @media (max-width: @md) {
          width: 80%;
        }
        .block-about-us__info-wrap {
          width: 48%;
          height: 200px;
          margin: 15px 0;
          // Условие для экранов с шириной от 0 до @md(991px)
          @media (max-width: @md) {
            width: 45%;
          }
          .info-wrap__header {
            height: 40px;
            display: flex;
            justify-content: left;
            align-items: flex-end;
            margin-bottom: 15px;
            .info-wrap__title {
              margin-left: 15px;
              font-size: 15px;
              letter-spacing: 0.8px;
              text-transform: uppercase;
            }
          }
        }
      }
      & .block-about-us__text {
        color: #616161;
        font-size: 14px;
        text-align: left;
        align-self: start;
        margin-bottom: 15px;
        line-height: 1.35;
      }
    }
  }
}
