.block-gallery {
  .block-gallery__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    padding: 0 50px;
    margin-top: 100px;

    text-align: center;
    // Условие для экранов с шириной от 0 до @md(991px)
    @media (max-width: @md) {
      grid-template-rows: repeat(1, 1fr);
      padding: 0 40px;
      margin-top: 80px;
    }
    // Условие для экранов с шириной от 0 до @sm(767px)
    @media (max-width: @sm) {
      padding: 0 30px;
      margin-top: 60px;
    }
    .grid-area {
      & img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
      }
      .block-gallery__title {
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        // Условие для экранов с шириной от 0 до @md(991px)
        @media (max-width: @md) {
          font-size: 30px;
          letter-spacing: 1.8px;
          color: #222222;
        }
        // Условие для экранов с шириной от 0 до @md(767px)
        @media (max-width: @sm) {
          font-size: 24px;
        }
        // Условие для экранов с шириной от 0 до 400px
        @media (max-width: 400px) {
          font-size: 19px;
        }
      }
    }
    .grid-area_pos_1 {
      grid-area: ~"1 / 1 / 3 / 4";
      align-self: center;
      // Условие для экранов с шириной от 0 до @md(991px)
      @media (max-width: @md) {
        grid-area: ~"1 / 1 / 1 / 13";
        padding-bottom: 20px;
      }
    }

    .grid-area_pos_2 {
      grid-area: ~"1 / 4 / 3 / 9";
      // Условие для экранов с шириной от 0 до @md(991px)
      @media (max-width: @md) {
        grid-area: ~"2 / 1 / 3 / 7";
      }
      // Условие для экранов с шириной от 0 до @md(767px)
      @media (max-width: @sm) {
        grid-area: ~"2 / 1 / 3 / 13";
      }
    }

    .grid-area_pos_3 {
      grid-area: ~"1 / 9 / 3 / 13";
      // Условие для экранов с шириной от 0 до @md(991px)
      @media (max-width: @md) {
        grid-area: ~"2 / 7 / 3 / 13";
      }
      // Условие для экранов с шириной от 0 до @md(767px)
      @media (max-width: @sm) {
        grid-area: ~"3 / 1 / 3 / 13";
      }
    }

    .grid-area_pos_4 {
      grid-area: ~"3 / 1 / 7 / 9";
      // Условие для экранов с шириной от 0 до @md(991px)
      @media (max-width: @md) {
        grid-area: ~"3 / 1 / 5 / 13";
      }
      // Условие для экранов с шириной от 0 до @md(767px)
      @media (max-width: @sm) {
        grid-area: ~"4 / 1 / 5 / 13";
      }
    }

    .grid-area_pos_5 {
      grid-area: ~"3 / 9 / 5 / 13";
      // Условие для экранов с шириной от 0 до @md(991px)
      @media (max-width: @md) {
        grid-area: ~"5 / 1 / 7 / 7";
      }
      // Условие для экранов с шириной от 0 до @md(767px)
      @media (max-width: @sm) {
        grid-area: ~"5 / 1 / 6 / 13";
      }
    }

    .grid-area_pos_6 {
      grid-area: ~"5 / 9 / 7 / 13";
      // Условие для экранов с шириной от 0 до @md(991px)
      @media (max-width: @md) {
        grid-area: ~"5 / 7 / 7 / 13";
      }
      // Условие для экранов с шириной от 0 до @md(767px)
      @media (max-width: @sm) {
        grid-area: ~"6 / 1 / 7 / 13";
      }
    }
  }
}
