.footer {
  .footer__wrapper {
    height: 90px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer__social-networks {
      cursor: context-menu;
      & a {
        color: #000;
        &:hover {
          color: #d1a954;
          text-shadow: #fc0 1px 0 10px;
        }
      }
    }
  }
}