@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
/*Обнуление*/
/* line 2, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 3, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 4, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
:focus,
:active {
  outline: none;
}
/* line 5, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
a:focus,
a:active {
  outline: none;
}
/* line 6, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
nav,
footer,
header,
aside {
  display: block;
}
/* line 7, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* line 8, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
input,
button,
textarea {
  font-family: inherit;
}
/* line 9, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
input::-ms-clear {
  display: none;
}
/* line 10, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
button {
  cursor: pointer;
}
/* line 11, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 12, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
a,
a:visited {
  text-decoration: none;
}
/* line 13, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
a:hover {
  text-decoration: none;
}
/* line 14, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
ul li {
  list-style: none;
}
/* line 15, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
img {
  vertical-align: top;
}
/* line 16, E:\projects\restaurant(BEM)\assets\less\_null-style.less */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
/* line 1, E:\projects\restaurant(BEM)\assets\less\_general.less */
body {
  font-family: "Montserrat-Light";
}
@media (max-width: 991px) {
  /* line 5, E:\projects\restaurant(BEM)\assets\less\_general.less */
  body.lock {
    overflow: hidden;
  }
}
/* Общиe стили */
/* line 13, E:\projects\restaurant(BEM)\assets\less\_general.less */
.top-container {
  height: 45px;
}
/* line 17, E:\projects\restaurant(BEM)\assets\less\_general.less */
.page {
  background-color: #fff;
  max-width: 1920px;
  margin: 0 auto;
}
/* line 23, E:\projects\restaurant(BEM)\assets\less\_general.less */
.page_gray {
  background-color: #f9f7f7;
}
/* line 27, E:\projects\restaurant(BEM)\assets\less\_general.less */
.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  background-color: #fff;
}
/* line 34, E:\projects\restaurant(BEM)\assets\less\_general.less */
.title {
  font-size: 30px;
  letter-spacing: 1.8px;
  color: #222222;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  /* line 40, E:\projects\restaurant(BEM)\assets\less\_general.less */
  .title {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  /* line 44, E:\projects\restaurant(BEM)\assets\less\_general.less */
  .title {
    font-size: 19px;
  }
}
/* line 49, E:\projects\restaurant(BEM)\assets\less\_general.less */
.subtitle {
  font-size: 11px;
  color: #000;
  margin-top: 10px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
@media (max-width: 400px) {
  /* line 56, E:\projects\restaurant(BEM)\assets\less\_general.less */
  .subtitle {
    font-size: 10px;
  }
}
/* line 61, E:\projects\restaurant(BEM)\assets\less\_general.less */
.icon-box {
  width: 46px;
  height: 30px;
  margin: 20px auto 10px auto;
}
/* line 67, E:\projects\restaurant(BEM)\assets\less\_general.less */
.icon-box img {
  width: 100%;
  max-width: 100%;
}
@media (max-width: 991px) {
  /* line 74, E:\projects\restaurant(BEM)\assets\less\_general.less */
  .opacity_zero {
    opacity: 0;
  }
}
/* line 1, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header {
  position: relative;
}
/* line 3, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
/* line 12, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper {
  max-width: 1170px;
  width: 100%;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  /* line 20, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper {
    padding: 5px 30px;
  }
}
/* line 23, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .logo-wrap {
  position: relative;
  z-index: 4;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  height: 87px;
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (max-width: 767px) {
  /* line 31, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .logo-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* line 35, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .logo-wrap .logo-wrap__logo {
  max-width: 100%;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}
/* line 41, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .logo-wrap.logo-wrap_active {
  left: calc(50% - 80px);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (orientation: landscape) {
  /* line 45, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .logo-wrap.logo-wrap_active {
    left: 0;
  }
}
@media (max-width: 767px) {
  /* line 49, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .logo-wrap.logo-wrap_active {
    left: calc(50% - 65px);
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  /* line 52, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .logo-wrap.logo-wrap_active {
    left: 0;
  }
}
/* line 59, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .header__burger {
  display: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  /* line 63, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .header__burger {
    display: block;
    position: absolute;
    right: 30px;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  /* line 70, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .header__burger span {
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  /* line 78, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .header__burger:before,
  .header .header__wrapper .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  /* line 87, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .header__burger:before {
    top: 0;
    -webkit-transition: background-color 0.3s linear, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: background-color 0.3s linear, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, background-color 0.3s linear, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, background-color 0.3s linear, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  }
  /* line 92, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .header__burger:after {
    bottom: 0;
    -webkit-transition: background-color 0.3s linear, bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: background-color 0.3s linear, bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in, background-color 0.3s linear, bottom 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, background-color 0.3s linear, bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  }
}
/* line 99, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .header__burger.header__burger_active span {
  background-color: transparent;
}
/* line 102, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .header__burger.header__burger_active:before {
  background-color: red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
  -webkit-transition: top 0.2s linear, background-color 0.3s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, background-color 0.3s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, background-color 0.3s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, background-color 0.3s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
/* line 109, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .header__burger.header__burger_active:after {
  background-color: red;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
  -webkit-transition: bottom 0.2s linear, background-color 0.3s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: bottom 0.2s linear, background-color 0.3s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: bottom 0.2s linear, background-color 0.3s linear, transform 0.2s ease-in 0.2s;
  transition: bottom 0.2s linear, background-color 0.3s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
/* line 118, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .list {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  /* line 125, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .list {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    display: block;
    padding: 200px 25px 0 25px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  /* line 147, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .list.list_active {
    top: 0;
    opacity: 1;
  }
}
@media (max-width: 991px) and (orientation: landscape) {
  /* line 139, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .list {
    padding: 25px 25px 25px 25px;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/* line 152, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item {
  margin: 0px 10px;
}
@media (max-width: 991px) {
  /* line 155, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .list .list__item {
    margin: 20px 0px;
  }
}
/* line 158, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item:last-child {
  margin-right: 0;
}
/* line 161, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item:first-child .list__link {
  border: 1px solid #d1a954;
  padding: 10px;
  color: #d1a954;
}
@media (max-width: 991px) {
  /* line 166, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .list .list__item:first-child .list__link {
    border: none;
    padding: 0;
    color: #000;
  }
  /* line 170, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .list .list__item:first-child .list__link.list__link_active {
    color: #d1a954;
  }
}
/* line 175, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item:first-child:hover .list__link {
  color: #fff;
  background-color: #d1a954;
  -webkit-box-shadow: #ffcc00 0px 0px 10px 1px;
          box-shadow: #ffcc00 0px 0px 10px 1px;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
@media (max-width: 991px) {
  /* line 181, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .list .list__item:first-child:hover .list__link {
    color: #d1a954;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: none;
    transition: none;
    background-color: inherit;
  }
}
/* line 188, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item .list__link {
  font-size: 13px;
  color: #000;
  display: block;
  height: 100%;
  width: 100%;
}
@media (max-width: 991px) {
  /* line 195, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .list .list__item .list__link {
    font-size: 15px;
  }
}
/* line 2, E:\projects\restaurant(BEM)\assets\less\_mixins.less */
.header .header__wrapper .list .list__item .list__link:hover {
  color: #d1a954;
  text-shadow: #ffcc00 1px 0 10px;
}
/* line 200, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item .list__link_active {
  font-family: "Montserrat-Bold";
  font-size: 15px;
  color: #d1a954;
}
@media (max-width: 991px) {
  /* line 205, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
  .header .header__wrapper .list .list__item .list__link_active {
    font-size: 17px;
  }
}
/* line 212, E:\projects\restaurant(BEM)\assets\less\blocks\_header.less */
.header.header_sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px #000;
          box-shadow: 0px 0px 5px 1px #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 1, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel {
  position: relative;
}
/* line 3, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control {
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 32px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* line 20, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control span {
  font-size: 35px;
  color: rgba(243, 235, 235, 0.8);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 29, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control span:hover {
  color: #fff;
  text-shadow: #000 0 0 15px;
}
/* line 35, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control_prev {
  left: 0;
}
/* line 38, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control_next {
  right: 0;
}
/* line 42, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .img-wrap {
  position: relative;
}
/* line 44, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .img-wrap .img-wrap__text-box {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(209, 169, 84, 0.9);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 56, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .img-wrap .img-wrap__text-box .img-wrap__title {
  color: #fff;
  border: solid 1px rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
/* line 68, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .block-carousel_main {
  margin-top: 45px;
}
/* line 72, E:\projects\restaurant(BEM)\assets\less\blocks\_block-carousel.less */
.block-carousel .block-carousel_margin-top {
  margin-top: 142px;
}
/* line 1, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us {
  text-align: center;
  position: relative;
}
/* line 4, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__header {
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  z-index: 2;
}
@media (max-width: 531px) {
  /* line 11, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__header {
    top: -250px;
  }
}
/* line 15, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body {
  background-color: #f9f7f7;
  margin-top: 470px;
  position: relative;
}
@media (max-width: 767px) {
  /* line 20, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body {
    margin-top: 450px;
  }
}
@media (max-width: 531px) {
  /* line 24, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body {
    margin-top: 300px;
  }
}
/* line 27, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__image-box {
  width: 60%;
  margin: 40px auto 0 auto;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(126, 126, 126, 0.25);
          box-shadow: 0 0 30px 0 rgba(126, 126, 126, 0.25);
  position: absolute;
  top: -300px;
  right: 0;
  left: 0;
}
@media (max-width: 991px) {
  /* line 38, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__image-box {
    width: 70%;
  }
}
@media (max-width: 850px) {
  /* line 42, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__image-box {
    width: 80%;
  }
}
@media (max-width: 767px) {
  /* line 46, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__image-box {
    width: 90%;
  }
}
@media (max-width: 600px) {
  /* line 50, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__image-box {
    top: -260px;
    margin: 0 auto 0 auto;
  }
}
@media (max-width: 531px) {
  /* line 55, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__image-box {
    top: -120px;
  }
}
/* line 58, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__image-box img {
  width: 100%;
  max-width: 100%;
}
/* line 63, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box {
  padding: 250px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  /* line 70, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 240px 0 0 0;
  }
}
@media (max-width: 767px) {
  /* line 75, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box {
    padding: 250px 0 0 0;
  }
}
@media (max-width: 690px) {
  /* line 79, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box {
    padding: 220px 0 0 0;
  }
}
@media (max-width: 640px) {
  /* line 83, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box {
    padding: 160px 0 0 0;
  }
}
@media (max-width: 550px) {
  /* line 87, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box {
    padding: 120px 0 0 0;
  }
}
@media (max-width: 531px) {
  /* line 91, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box {
    padding: 240px 0 0 0;
  }
}
@media (max-width: 420px) {
  /* line 95, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box {
    padding: 180px 0 0 0;
  }
}
@media (max-width: 350px) {
  /* line 99, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box {
    padding: 140px 0 0 0;
  }
}
/* line 102, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 50px;
}
@media (max-width: 991px) {
  /* line 107, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col {
    padding: 0 40px;
  }
}
@media (max-width: 850px) {
  /* line 111, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col {
    padding: 0 30px;
  }
}
/* line 115, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left {
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  /* line 122, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left {
    width: 80%;
  }
}
@media (max-width: 850px) {
  /* line 126, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left {
    width: 90%;
  }
}
@media (max-width: 767px) {
  /* line 130, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left {
    width: 100%;
  }
}
/* line 133, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left .block-about-us__icon-box_size_big {
  width: 200px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  /* line 137, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left .block-about-us__icon-box_size_big {
    width: 170px;
  }
}
/* line 141, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left .block-about-us__icon-box_size_big img {
  width: 100%;
  max-width: 100%;
}
/* line 147, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991px) {
  /* line 155, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right {
    width: 80%;
  }
}
@media (max-width: 850px) {
  /* line 159, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right {
    width: 90%;
  }
}
@media (max-width: 767px) {
  /* line 163, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right {
    width: 100%;
  }
}
/* line 166, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right .block-about-us__info-wrap {
  width: 48%;
  height: 200px;
  margin: 15px 0;
}
@media (max-width: 991px) {
  /* line 171, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right .block-about-us__info-wrap {
    width: 45%;
  }
}
@media (max-width: 767px) {
  /* line 175, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right .block-about-us__info-wrap {
    width: 100%;
    height: 120px;
    margin: 5px 0;
  }
}
@media (max-width: 450px) {
  /* line 181, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
  .block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right .block-about-us__info-wrap {
    height: 150px;
    margin: 10px 0;
  }
}
/* line 185, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right .block-about-us__info-wrap .info-wrap__header {
  height: 40px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/* line 192, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right .block-about-us__info-wrap .info-wrap__header .info-wrap__title {
  margin-left: 15px;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
/* line 201, E:\projects\restaurant(BEM)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__text {
  color: #616161;
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.35;
  text-align: left;
  -ms-flex-item-align: start;
      align-self: start;
}
/* line 2, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0 50px;
  margin-top: 100px;
  text-align: center;
}
@media (max-width: 991px) {
  /* line 14, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid {
    grid-template-rows: repeat(1, 1fr);
    padding: 0 40px;
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  /* line 20, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid {
    padding: 0 30px;
    margin-top: 60px;
  }
}
/* line 25, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
/* line 32, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area .block-gallery__title {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  /* line 37, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area .block-gallery__title {
    font-size: 30px;
    letter-spacing: 1.8px;
    color: #222222;
  }
}
@media (max-width: 767px) {
  /* line 43, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area .block-gallery__title {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  /* line 47, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area .block-gallery__title {
    font-size: 19px;
  }
}
/* line 52, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_1 {
  grid-area: 1 / 1 / 3 / 4;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 991px) {
  /* line 56, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_1 {
    grid-area: 1 / 1 / 1 / 13;
    padding-bottom: 20px;
  }
}
/* line 62, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_2 {
  grid-area: 1 / 4 / 3 / 9;
}
@media (max-width: 991px) {
  /* line 65, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_2 {
    grid-area: 2 / 1 / 3 / 7;
  }
}
@media (max-width: 767px) {
  /* line 69, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_2 {
    grid-area: 2 / 1 / 3 / 13;
  }
}
/* line 74, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_3 {
  grid-area: 1 / 9 / 3 / 13;
}
@media (max-width: 991px) {
  /* line 77, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_3 {
    grid-area: 2 / 7 / 3 / 13;
  }
}
@media (max-width: 767px) {
  /* line 81, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_3 {
    grid-area: 3 / 1 / 3 / 13;
  }
}
/* line 86, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_4 {
  grid-area: 3 / 1 / 7 / 9;
}
@media (max-width: 991px) {
  /* line 89, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_4 {
    grid-area: 3 / 1 / 5 / 13;
  }
}
@media (max-width: 767px) {
  /* line 93, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_4 {
    grid-area: 4 / 1 / 5 / 13;
  }
}
/* line 98, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_5 {
  grid-area: 3 / 9 / 5 / 13;
}
@media (max-width: 991px) {
  /* line 101, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_5 {
    grid-area: 5 / 1 / 7 / 7;
  }
}
@media (max-width: 767px) {
  /* line 105, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_5 {
    grid-area: 5 / 1 / 6 / 13;
  }
}
/* line 110, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_6 {
  grid-area: 5 / 9 / 7 / 13;
}
@media (max-width: 991px) {
  /* line 113, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_6 {
    grid-area: 5 / 7 / 7 / 13;
  }
}
@media (max-width: 767px) {
  /* line 117, E:\projects\restaurant(BEM)\assets\less\blocks\_block-gallery.less */
  .block-gallery .block-gallery__grid .grid-area_pos_6 {
    grid-area: 6 / 1 / 7 / 13;
  }
}
/* line 2, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner {
  margin-top: 100px;
  height: 300px;
  background: url("background-img/picture1.webp") center / cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  /* line 12, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
  .block-download .block-download__banner {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  /* line 16, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
  .block-download .block-download__banner {
    margin-top: 60px;
    height: 280px;
  }
}
/* line 20, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner .block-download__title {
  color: #fff;
  text-shadow: #000 1px 0 10px;
  margin: 30px 0;
}
/* line 25, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner .block-download__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 500px) {
  /* line 29, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
  .block-download .block-download__banner .block-download__btn-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* line 32, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner .block-download__btn-wrap .block-download__btn {
  font-size: 14px;
  color: #000;
  letter-spacing: 0.8px;
  background-color: #ffffff;
  margin: 0 20px;
  padding: 15px;
  border: 3px solid #d1a954;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 42, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
  .block-download .block-download__banner .block-download__btn-wrap .block-download__btn {
    padding: 13px;
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  /* line 47, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
  .block-download .block-download__banner .block-download__btn-wrap .block-download__btn {
    padding: 10px;
    font-size: 12px;
    margin: 10px 0;
    text-align: center;
  }
}
/* line 53, E:\projects\restaurant(BEM)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner .block-download__btn-wrap .block-download__btn:hover {
  color: #fff;
  background-color: #d1a954;
  -webkit-box-shadow: #ffcc00 0px 0px 10px 1px;
          box-shadow: #ffcc00 0px 0px 10px 1px;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
/* line 2, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper {
  margin-top: 100px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1045px) {
  /* line 9, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 991px) {
  /* line 14, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper {
    margin-top: 80px;
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  /* line 19, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper {
    margin-top: 60px;
    padding: 0 30px;
  }
}
/* line 23, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box {
  width: 60%;
}
@media (max-width: 1045px) {
  /* line 26, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__info-box {
    width: 80%;
  }
}
@media (max-width: 767px) {
  /* line 30, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__info-box {
    width: 100%;
  }
}
/* line 33, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__header {
  line-height: 1.35;
}
/* line 35, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__header .block-contact-us__title {
  margin-bottom: 20px;
}
/* line 38, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__header .block-contact-us__subtitle {
  color: #616161;
}
/* line 42, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  /* line 46, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/* line 49, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col {
  background-color: #ffffff;
  width: 48%;
  margin-top: 40px;
}
@media (max-width: 1045px) {
  /* line 54, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col {
    width: 45%;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  /* line 59, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col {
    width: 100%;
    margin-top: 30px;
  }
}
/* line 63, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .contact-us-body-title {
  font-size: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
/* line 68, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list {
  margin-top: 30px;
}
@media (max-width: 767px) {
  /* line 71, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list {
    margin-top: 20px;
  }
}
/* line 74, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1045px) {
  /* line 80, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 767px) {
  /* line 84, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item {
    height: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/* line 88, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item .icon-wrap {
  font-size: 22px;
  width: 60px;
  color: #d1a954;
  text-align: center;
}
/* line 94, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item .contact-us-body-text {
  width: 80%;
  line-height: 1.4;
}
/* line 98, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item .contact-us-body-text_underline {
  text-decoration: underline;
}
/* line 107, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box {
  width: 35%;
}
@media (max-width: 1045px) {
  /* line 110, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__form-box {
    width: 60%;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  /* line 115, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__form-box {
    width: 70%;
    margin-top: 30px;
  }
}
@media (max-width: 650px) {
  /* line 120, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__form-box {
    width: 90%;
  }
}
@media (max-width: 500px) {
  /* line 124, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__form-box {
    width: 100%;
  }
}
/* line 127, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__input {
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  padding: 10px 0;
  margin-bottom: 30px;
}
/* line 133, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__textarea {
  width: 100%;
  height: 180px;
  resize: none;
  border: 1px solid #d0d0d0;
  margin-bottom: 30px;
  padding: 10px 15px;
}
/* line 141, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__btn {
  width: 180px;
  color: #fff;
  background-color: #d1a954;
  border: 1px solid #d1a954;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: uppercase;
}
@media (max-width: 1045px) {
  /* line 150, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
  .block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__btn {
    margin: 0 auto;
    display: block;
  }
}
/* line 154, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__btn:hover {
  background-color: #ffffff;
  color: #d1a954;
  -webkit-box-shadow: #ffcc00 0px 0px 10px 1px;
          box-shadow: #ffcc00 0px 0px 10px 1px;
  -webkit-transition: color 0.5s, border 0.5s, background-color 0.5s;
  transition: color 0.5s, border 0.5s, background-color 0.5s;
}
/* line 160, E:\projects\restaurant(BEM)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/* line 1, E:\projects\restaurant(BEM)\assets\less\blocks\_block-our-inst.less */
.block-our-inst {
  background-color: #f9f7f7;
}
/* line 3, E:\projects\restaurant(BEM)\assets\less\blocks\_block-our-inst.less */
.block-our-inst .block-our-inst__wrap {
  margin-top: 100px;
  padding-top: 100px;
}
@media (max-width: 991px) {
  /* line 7, E:\projects\restaurant(BEM)\assets\less\blocks\_block-our-inst.less */
  .block-our-inst .block-our-inst__wrap {
    margin-top: 80px;
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  /* line 12, E:\projects\restaurant(BEM)\assets\less\blocks\_block-our-inst.less */
  .block-our-inst .block-our-inst__wrap {
    margin-top: 60px;
    padding-top: 60px;
  }
}
/* line 16, E:\projects\restaurant(BEM)\assets\less\blocks\_block-our-inst.less */
.block-our-inst .block-our-inst__wrap .block-our-inst__header {
  text-align: center;
}
/* line 19, E:\projects\restaurant(BEM)\assets\less\blocks\_block-our-inst.less */
.block-our-inst .block-our-inst__wrap .block-our-inst__block-carousel {
  margin-top: 80px;
}
@media (max-width: 767px) {
  /* line 22, E:\projects\restaurant(BEM)\assets\less\blocks\_block-our-inst.less */
  .block-our-inst .block-our-inst__wrap .block-our-inst__block-carousel {
    margin-top: 60px;
  }
}
/* line 25, E:\projects\restaurant(BEM)\assets\less\blocks\_block-our-inst.less */
.block-our-inst .block-our-inst__wrap .block-our-inst__block-carousel .inst-carousel-control {
  height: 100%;
}
/* line 2, E:\projects\restaurant(BEM)\assets\less\blocks\_footer.less */
.footer .footer__wrapper {
  height: 90px;
  padding: 10px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  /* line 11, E:\projects\restaurant(BEM)\assets\less\blocks\_footer.less */
  .footer .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    font-size: 13px;
  }
}
/* line 15, E:\projects\restaurant(BEM)\assets\less\blocks\_footer.less */
.footer .footer__wrapper .footer__social-networks {
  cursor: context-menu;
}
/* line 17, E:\projects\restaurant(BEM)\assets\less\blocks\_footer.less */
.footer .footer__wrapper .footer__social-networks a {
  color: #000;
}
/* line 2, E:\projects\restaurant(BEM)\assets\less\_mixins.less */
.footer .footer__wrapper .footer__social-networks a:hover {
  color: #d1a954;
  text-shadow: #ffcc00 1px 0 10px;
}
