/*Обнуление*/
/* line 2, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 3, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 4, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
:focus,
:active {
  outline: none;
}
/* line 5, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
a:focus,
a:active {
  outline: none;
}
/* line 6, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
nav,
footer,
header,
aside {
  display: block;
}
/* line 7, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* line 8, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
input,
button,
textarea {
  font-family: inherit;
}
/* line 9, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
input::-ms-clear {
  display: none;
}
/* line 10, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
button {
  cursor: pointer;
}
/* line 11, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 12, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
a,
a:visited {
  text-decoration: none;
}
/* line 13, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
a:hover {
  text-decoration: none;
}
/* line 14, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
ul li {
  list-style: none;
}
/* line 15, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
img {
  vertical-align: top;
}
/* line 16, E:\projects\restaurant(BEM-LESS)\assets\less\_null-style.less */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
/* line 3, E:\projects\restaurant(BEM-LESS)\assets\less\_general.less */
body {
  font-family: "Montserrat-Light";
}
/* Общиe стили */
/* line 9, E:\projects\restaurant(BEM-LESS)\assets\less\_general.less */
.top-container {
  height: 45px;
}
/* line 13, E:\projects\restaurant(BEM-LESS)\assets\less\_general.less */
.page {
  background-color: #fff;
  max-width: 1920px;
  margin: 0 auto;
}
/* line 19, E:\projects\restaurant(BEM-LESS)\assets\less\_general.less */
.page_gray {
  background-color: #f9f7f7;
}
/* line 23, E:\projects\restaurant(BEM-LESS)\assets\less\_general.less */
.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  background-color: #fff;
}
/* line 30, E:\projects\restaurant(BEM-LESS)\assets\less\_general.less */
.title {
  font-size: 30px;
  letter-spacing: 1.8px;
  color: #222222;
  text-transform: uppercase;
}
/* line 37, E:\projects\restaurant(BEM-LESS)\assets\less\_general.less */
.subtitle {
  font-size: 11px;
  color: #000;
  margin-top: 10px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
/* line 45, E:\projects\restaurant(BEM-LESS)\assets\less\_general.less */
.icon-box {
  width: 46px;
  height: 30px;
  margin: 20px auto 10px auto;
}
/* line 51, E:\projects\restaurant(BEM-LESS)\assets\less\_general.less */
.icon-box img {
  width: 100%;
  max-width: 100%;
}
/* line 4, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper {
  max-width: 1170px;
  width: 100%;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 11, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper .logo-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  height: 87px;
}
/* line 14, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper .logo-wrap .logo-wrap__logo {
  max-width: 100%;
  width: 100%;
}
/* line 20, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
/* line 24, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item {
  margin: 0px 10px;
}
/* line 26, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item:first-child .list__link {
  border: 1px solid #d1a954;
  padding: 10px;
  color: #d1a954;
}
/* line 31, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item:first-child:hover .list__link {
  color: #fff;
  background-color: #d1a954;
  -webkit-box-shadow: 0px 0px 10px 1px #fc0;
          box-shadow: 0px 0px 10px 1px #fc0;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
/* line 37, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item .list__link {
  font-size: 13px;
  color: #000;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 43, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item .list__link:hover {
  color: #d1a954;
  text-shadow: #fc0 1px 0 10px;
}
/* line 48, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header .header__wrapper .list .list__item .list__link_active {
  font-family: "Montserrat-Bold";
  font-size: 15px;
  color: #d1a954;
}
/* line 58, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_header.less */
.header_sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 1px #000;
          box-shadow: 0px 0px 5px 1px #000;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 1, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel {
  position: relative;
}
/* line 5, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control {
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 32px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* line 21, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control span {
  font-size: 35px;
  color: rgba(243, 235, 235, 0.8);
}
/* line 25, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control:hover span {
  color: #fff;
  text-shadow: #000 0 0 15px;
}
/* line 30, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control_prev {
  left: 0;
}
/* line 33, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel .carousel__control_next {
  right: 0;
}
/* line 37, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel .img-wrap {
  position: relative;
}
/* line 39, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel .img-wrap .img-wrap__text-box {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(209, 169, 84, 0.9);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 51, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel .img-wrap .img-wrap__text-box .img-wrap__title {
  color: #fff;
  border: solid 1px rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
/* line 65, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel_main {
  margin-top: 45px;
}
/* line 69, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-carousel.less */
.block-carousel_margin-top {
  margin-top: 183px;
}
/* line 1, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us {
  text-align: center;
  position: relative;
}
/* line 4, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__header {
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  z-index: 9;
}
/* line 11, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body {
  background-color: #f9f7f7;
  margin-top: 470px;
  position: relative;
}
/* line 15, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__image-box {
  width: 60%;
  margin: 40px auto 0 auto;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(126, 126, 126, 0.25);
          box-shadow: 0 0 30px 0 rgba(126, 126, 126, 0.25);
  position: absolute;
  top: -300px;
  right: 0;
  left: 0;
}
/* line 25, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__image-box img {
  width: 100%;
  max-width: 100%;
}
/* line 30, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box {
  padding: 250px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 36, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 50px;
}
/* line 41, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left {
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 46, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left .block-about-us__icon-box_size_big {
  width: 200px;
  margin-bottom: 30px;
}
/* line 49, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_left .block-about-us__icon-box_size_big img {
  width: 100%;
  max-width: 100%;
}
/* line 55, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 61, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right .block-about-us__info-wrap {
  width: 48%;
  height: 100%;
  margin: 15px 0;
}
/* line 65, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right .block-about-us__info-wrap .info-wrap__header {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
}
/* line 71, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__col_right .block-about-us__info-wrap .info-wrap__header .info-wrap__title {
  margin-left: 15px;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
/* line 80, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-about-us.less */
.block-about-us .block-about-us__body .block-about-us__text-box .block-about-us__text {
  color: #616161;
  font-size: 14px;
  text-align: left;
  -ms-flex-item-align: start;
      align-self: start;
  margin-bottom: 15px;
  line-height: 1.35;
}
/* line 2, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0 50px;
  margin-top: 100px;
  text-align: center;
}
/* line 14, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
/* line 21, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area .block-gallery__title {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 27, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_1 {
  grid-area: 1 / 1 / 3 / 4;
  -ms-flex-item-align: center;
      align-self: center;
}
/* line 32, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_2 {
  grid-area: 1 / 4 / 3 / 9;
}
/* line 36, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_3 {
  grid-area: 1 / 9 / 3 / 13;
}
/* line 40, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_4 {
  grid-area: 3 / 1 / 7 / 9;
}
/* line 44, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_5 {
  grid-area: 3 / 9 / 5 / 13;
}
/* line 48, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-gallery.less */
.block-gallery .block-gallery__grid .grid-area_pos_6 {
  grid-area: 5 / 9 / 7 / 13;
}
/* line 2, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner {
  margin-top: 100px;
  height: 300px;
  background: url("/assets/img/picture1.webp") center / cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 12, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner .block-download__title {
  color: #fff;
  text-shadow: #000 1px 0 10px;
  margin: 30px 0;
}
/* line 17, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner .block-download__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 20, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner .block-download__btn-wrap .block-download__btn {
  color: #000;
  letter-spacing: 0.8px;
  background-color: #fff;
  margin: 0 20px;
  padding: 15px;
  border: 3px solid #d1a954;
  cursor: pointer;
}
/* line 28, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-download.less */
.block-download .block-download__banner .block-download__btn-wrap .block-download__btn:hover {
  color: #fff;
  background-color: #d1a954;
  -webkit-box-shadow: 0px 0px 10px 1px #fc0;
          box-shadow: 0px 0px 10px 1px #fc0;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
/* line 1, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us {
  /* background-color: aqua; */
}
/* line 3, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper {
  margin-top: 100px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 9, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box {
  /* background-color: aquamarine; */
  width: 51%;
}
/* line 12, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__header {
  line-height: 1.35;
}
/* line 14, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__header .block-contact-us__title {
  margin-bottom: 20px;
}
/* line 17, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__header .block-contact-us__subtitle {
  color: #616161;
}
/* line 21, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body {
  /* background-color: whitesmoke; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 25, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col {
  background-color: #fff;
  width: 48%;
  margin-top: 40px;
}
/* line 29, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .contact-us-body-title {
  font-size: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  /* text-align: center; */
}
/* line 35, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list {
  margin-top: 30px;
}
/* line 37, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 42, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item .icon-wrap {
  font-size: 22px;
  width: 15%;
  color: #d1a954;
  text-align: center;
}
/* line 48, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item .contact-us-body-text {
  width: 80%;
  line-height: 1.4;
}
/* line 52, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__info-box .block-contact-us__body .block-contact-us__body-col .block-contact-us__list .block-contact-us__item .contact-us-body-text_underline {
  text-decoration: underline;
}
/* line 60, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box {
  /* background-color: aquamarine; */
  width: 44%;
}
/* line 63, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__input {
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  padding: 10px 0;
  margin-bottom: 30px;
}
/* line 69, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__textarea {
  width: 100%;
  height: 180px;
  resize: none;
  border: 1px solid #d0d0d0;
  margin-bottom: 30px;
  padding: 10px 15px;
}
/* line 77, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__btn {
  width: 180px;
  color: #fff;
  background-color: #d1a954;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: uppercase;
}
/* line 84, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__btn:hover {
  background-color: #fff;
  color: #d1a954;
  border: 1px solid #d1a954;
  -webkit-box-shadow: 0px 0px 10px 1px #d0d0d0;
          box-shadow: 0px 0px 10px 1px #d0d0d0;
  -webkit-transition: color 0.5s, border 0.5s, background-color 0.5s;
  transition: color 0.5s, border 0.5s, background-color 0.5s;
}
/* line 91, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-contact-us.less */
.block-contact-us .block-contact-us__wrapper .block-contact-us__form-box .form-box__btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/* line 1, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-our-inst.less */
.block-our-inst {
  background-color: #f9f7f7;
}
/* line 3, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-our-inst.less */
.block-our-inst .block-our-inst__wrap {
  margin-top: 100px;
  padding-top: 100px;
}
/* line 6, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-our-inst.less */
.block-our-inst .block-our-inst__wrap .block-our-inst__header {
  text-align: center;
}
/* line 9, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-our-inst.less */
.block-our-inst .block-our-inst__wrap .block-our-inst__block-carousel {
  margin-top: 80px;
}
/* line 11, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_block-our-inst.less */
.block-our-inst .block-our-inst__wrap .block-our-inst__block-carousel .inst-carousel-control {
  height: 100%;
}
/* line 2, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_footer.less */
.footer .footer__wrapper {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 8, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_footer.less */
.footer .footer__wrapper .footer__social-networks {
  cursor: context-menu;
}
/* line 10, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_footer.less */
.footer .footer__wrapper .footer__social-networks a {
  color: #000;
}
/* line 12, E:\projects\restaurant(BEM-LESS)\assets\less\blocks\_footer.less */
.footer .footer__wrapper .footer__social-networks a:hover {
  color: #d1a954;
  text-shadow: #fc0 1px 0 10px;
}
