@import "./nullstyle.css";
@import "./fonts.css";

html,
body {
  font-family: "Montserrat-Light";
}

/* Общиe стили для title */

.title {
  font-size: 30px;
  letter-spacing: 1.8px;
  color: #222222;
  text-transform: uppercase;
}

.subtitle {
  font-size: 11px;
  color: #000;
  margin-top: 10px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.icon-box {
  width: 46px;
  height: 30px;
  margin: 20px auto 10px auto;
}

.page {
  background-color: #fff;
  max-width: 1920px;
  margin: 0 auto;
}

.page_gray {
  background-color: #f9f7f7;
}

.header {
  /* background-color: #f9f7f7; */
}

.wrapper {
  margin: 0 auto;
  /* max-width: 1920px; */
  max-width: 1170px;
  width: 100%;
  background-color: #fff;
}

.header__wrapper {
  /* background-color: rgb(104, 245, 245); */
  max-width: 1170px;
  width: 100%;
  padding: 60px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  flex: 0 0 160px;
  height: 87px;
}

.logo-wrap__logo {
  max-width: 100%;
  width: 100%;
}

/* Стили для навигации */

.list {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.list__item {
  margin: 0px 10px;
}

.list__item:first-child .list__link {
  border: 1px solid #d1a954;
  padding: 10px;
  color: #d1a954;
}

.list__item:first-child:hover .list__link {
  color: #fff;
  background-color: #d1a954;
  box-shadow: 0px 0px 10px 1px #fc0;
  transition: background-color 0.5s, box-shadow 0.5s;
}

.list__link {
  font-size: 13px;
  color: #000;
  display: block;
  height: 100%;
  width: 100%;
}

.list__link:hover {
  color: #d1a954;
  text-shadow: #fc0 1px 0 10px;
}

.list__link_active {
  font-family: "Montserrat-Bold";
  font-size: 15px;
  color: #d1a954;
}

/* Стили для block-carousel */

.block-carousel {
  /* max-width: 1170px;  */
  /* margin: 0 auto; */
  position: relative;
}

.carousel__control {
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 32px;
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.carousel__control_prev {
  left: 0;
}

.carousel__control_next {
  right: 0;
}

/* Стили для стрелок контроля слайдами */

.carousel__control span {
  font-size: 35px;
  color: rgba(243, 235, 235, 0.8);
}

.carousel__control:hover span {
  color: #fff;
  text-shadow: #fff 0 0 15px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

/* Стили для текста на фотке */

.img-wrap {
  position: relative;
}

.img-wrap__text-box {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(209, 169, 84, 0.9);
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap__title {
  color: #fff;
  border: solid 1px rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

/* Стили для block-about-us */

.block-about-us {
  text-align: center;
  position: relative;
}

.block-about-us__header {
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  z-index: 9;
}

.block-about-us__icon-box img {
  width: 100%;
  max-width: 100%;
}

.block-about-us__body {
  background-color: #f9f7f7;
  margin-top: 470px;
  position: relative;
}

.block-about-us__image-box {
  width: 60%; /* !увеличить при уменьшении экрана */
  margin: 40px auto 0 auto;
  border: 10px solid #fff;
  box-shadow: 0 0 30px 0 rgba(126, 126, 126, 0.25);

  position: absolute;
  top: -300px;
  right: 0;
  left: 0;
}

.block-about-us__image-box img {
  width: 100%;
  max-width: 100%;
}

.block-about-us__text-box {
  padding: 250px 0 20px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block-about-us__col {
  display: flex;
  height: 100%;
  padding: 0 50px;
}

.block-about-us__col_left {
  width: 45%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.block-about-us__col_right {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.block-about-us__icon-box_size_big {
  width: 200px;
  margin-bottom: 30px;
}

.block-about-us__icon-box_size_big img {
  width: 100%;
  max-width: 100%;
}

.block-about-us__text {
  color: #616161;
  font-size: 14px;
  text-align: left;
  align-self: start;
  margin-bottom: 15px;
  line-height: 1.35;
}

.block-about-us__info-wrap {
  width: 48%;
  height: 100%;
  margin: 15px 0;
}

.info-wrap__header {
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-bottom: 15px;
}

.info-wrap__icon-box_size_sm {
  margin-right: 15px;
}

.info-wrap__title {
  font-size: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

/* Стили для block-galerry */

.block-galerry__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  padding: 0 50px;
  margin-top: 100px;

  text-align: center;
}

.grid-ared {
  /* background-color: aqua; */
}

.grid-area_pos_1 {
  grid-area: 1 / 1 / 3 / 4;
  align-self: center;
}

.grid-area_pos_2 {
  grid-area: 1 / 4 / 3 / 9;
}

.grid-area_pos_3 {
  grid-area: 1 / 9 / 3 / 13;
}

.grid-area_pos_4 {
  grid-area: 3 / 1 / 7 / 9;
}

.grid-area_pos_5 {
  grid-area: 3 / 9 / 5 / 13;
}

.grid-area_pos_6 {
  grid-area: 5 / 9 / 7 / 13;
}

.block-galerry__title {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.grid-ared img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

/* Стили для block-download */

.block-download__banner {
  margin-top: 100px;
  height: 300px;
  background: url("/assets/img/picture1.webp") center / cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-download__title {
  color: #fff;
  text-shadow: #000 1px 0 10px;
  margin: 30px 0;
}

.block-download__btn-wrap {
  display: flex;
  justify-content: center;
}

.block-download__btn {
  color: #000;
  letter-spacing: 0.8px;
  background-color: #fff;
  margin: 0 20px;
  padding: 15px;
  border: 3px solid #d1a954;
  cursor: pointer;
}

.block-download__btn:hover {
  color: #fff;
  background-color: #d1a954;
  box-shadow: 0px 0px 10px 1px #fc0;
  transition: background-color 0.5s, box-shadow 0.5s;
}
